<template>
  <div id="app">
    <h1>Admin</h1>
    <!-- Загрузка -->
    <h2 v-if="loading">Loading...</h2>
    <!-- Ошибка -->
    <h3 v-else-if="error" class="error">
      {{ error.message || "Something went wrong. Try again later" }}
    </h3>
    <!-- Компонент для обновления настроек -->
    <div v-else>
      <h2>Settings</h2>
      <!-- Пропы: настройки, полученные от сервера (из БД), метод для их получения и адрес API -->
      <Settings
        :settings="settings"
        :getSettings="getSettings"
        :apiUri="apiUri"
      />
    </div>
  </div>
</template>

<script>
// импортируем компонент для обновления настроек
import Settings from "./components/Settings.vue";

export default {
  // название компонента
  name: "App",
  // дочерние компоненты
  components: {
    Settings,
  },
  // начальное состояние
  data() {
    return {
      loading: true,
      error: null,
      settings: {},
      apiUri: "http://localhost:5000/api/settings",
    };
  },
  // монтирование компонента
  created() {
    // получаем настройки
    this.getSettings();
  },
  // методы
  methods: {
    // для получения настроек
    async getSettings() {
      this.loading = true;
      try {
        const response = await fetch(this.apiUri);
        if (!response.ok) throw response;
        this.settings = await response.json();
      } catch (e) {
        this.error = e;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
:root {
  --primary: #0275d8;
  --success: #5cb85c;
  --warning: #f0ad4e;
  --danger: #d9534f;
  --light: #f7f7f7;
  --dark: #292b2c;
}
* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
body.light {
  background-color: var(--light);
  color: var(--dark);
}
body.dark {
  background-color: var(--dark);
  color: var(--light);
}
#app {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
}
form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin: 0.5rem 0;
}
input {
  padding: 0.5rem;
  max-width: 220px;
  width: max-content;
  outline: none;
  border: 1px solid var(--dark);
  border-radius: 4px;
  text-align: center;
}
input:focus {
  border-color: var(--primary);
}
button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--success);
  color: var(--light);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
button:active {
  box-shadow: none;
}
.error {
  color: var(--danger);
}
</style>
